/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --cover-image: url(../images/cover-image-dark.png);
  --accent-text-decor: #ff0070;
  --accent-decor: #ff0070;
  --accent-text-nav: #ff0070;
  --accent-heading-text: #db00ff;
  --accent-heading-color: #ff0070;
  --accent-bg-page: #000028;
  --title-decor: #ff0070;
  --text-heading-title: #000028;
  --accent-section-title: #ff0070;
  --accent-section-description:#f1b2ce;
  --accent-text-link:#f1b2ce;
  --accent-decor-link: #ff0070;
  --accent-color-link: rgba(255, 0, 112, 0.4);
  --accent-text-question:#ff0070;
}
