/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
 :root.theme-light {
   --cover-image: url(../images/cover-image-light.png);
   --accent-text-decor: transparent;
   --accent-decor: #353430;
   --accent-text-nav: #353430;
   --accent-heading-text: #FFC2E6;
   --accent-heading-color: #FF8DCB;
   --accent-bg-page: #fff1f7;
   --title-decor: #FF8DCB;
   --text-heading-title: #353430;
   --accent-section__title: #353430;
   --accent-section__description: #353430;
   --accent-text-link: #353430;
   --accent-decor-link: #FFC2E6;
   --accent-text-question: #353430;
 }


